In [16]:
from preparation.data_load import load_surveys_data_from_csv, merge_dataframes

## Data Load

This notebook is to be run first and just loads the data from the CSV files, from all the reference years.

In [17]:
# reading survey data from oldest to newest
df_surveys_11_to_21 = load_surveys_data_from_csv()

/mnt/LinuxStorage/workspace/stackoverflow_multiple_years/preparation/data_load.py:37: DtypeWarning: Columns (46,48,62) have mixed types.Specify dtype option on import or set low_memory=False.
  surveys_years_df[y] = load_from_csv(os.path.join(base_dir, data_path,
/mnt/LinuxStorage/workspace/stackoverflow_multiple_years/preparation/data_load.py:37: DtypeWarning: Columns (5,108,121,196,197,198) have mixed types.Specify dtype option on import or set low_memory=False.
  surveys_years_df[y] = load_from_csv(os.path.join(base_dir, data_path,
/mnt/LinuxStorage/workspace/stackoverflow_multiple_years/preparation/data_load.py:37: DtypeWarning: Columns (8,12,13,14,15,16,50,51,52,53,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128) have mixed types.Specify dtype option on import or set low_memory=False.
  surveys_years_df[y] = load_from_csv(os.path.join(base_dir, data_path,

# Merging data
Now I would like to merge the dataframes, based on least common feature set

In [22]:
# get least common feature set
# df_surveys_full = merge_dataframes(df_surveys_11_to_21)

In [23]:
# take a look at data from 2011:
# df_surveys_full.head()

In [24]:
# Go through each dataframe looking at the description
for year, df in df_surveys_11_to_21.items():
    df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2814 entries, 0 to 2813
Data columns (total 65 columns):
 #   Column                                                                                           Non-Null Count  Dtype
---  ------                                                                                           --------------  -----
 0   What Country or Region do you live in?                                                           2814 non-null   object
 1   Which US State or Territory do you live in?                                                      1030 non-null   object
 2   How old are you?                                                                                 2730 non-null   object
 3   How many years of IT/Programming experience do you have?                                         2730 non-null   object
 4   How would you best describe the industry you work in?                                            2730 non-null   object
 5   Which best describes the size of your company?                                                   2647 non-null   object
 6   Which of the following best describes your occupation?                                           2647 non-null   object
 7   How likely is it that a recommendation you make will be acted upon?                              2611 non-null   object
 8   What is your involvement in purchasing? You can choose more than 1.                              1362 non-null   object
 9   Unnamed: 9                                                                                       1497 non-null   object
 10  Unnamed: 10                                                                                      395 non-null    object
 11  Unnamed: 11                                                                                      457 non-null    object
 12  Unnamed: 12                                                                                      186 non-null    object
 13  Unnamed: 13                                                                                      727 non-null    object
 14  Unnamed: 14                                                                                      92 non-null     object
 15  What types of purchases are you involved in?                                                     968 non-null    object
 16  Unnamed: 16                                                                                      709 non-null    object
 17  Unnamed: 17                                                                                      1790 non-null   object
 18  Unnamed: 18                                                                                      970 non-null    object
 19  Unnamed: 19                                                                                      467 non-null    object
 20  Unnamed: 20                                                                                      285 non-null    object
 21  What is your budget for outside expenditures (hardware, software, consulting, etc) for 2011?     533 non-null    object
 22  Unnamed: 22                                                                                      219 non-null    object
 23  Unnamed: 23                                                                                      85 non-null     object
 24  Unnamed: 24                                                                                      45 non-null     object
 25  Unnamed: 25                                                                                      43 non-null     object
 26  Unnamed: 26                                                                                      45 non-null     object
 27  Unnamed: 27                                                                                      121 non-null    object
 28  Unnamed: 28                                                                                      927 non-null    object
 29  What type of project are you developing?                                                         2599 non-null   object
 30  Which languages are you proficient in?                                                           862 non-null    object
 31  Unnamed: 31                                                                                      1420 non-null   object
 32  Unnamed: 32                                                                                      1357 non-null   object
 33  Unnamed: 33                                                                                      789 non-null    object
 34  Unnamed: 34                                                                                      576 non-null    object
 35  Unnamed: 35                                                                                      286 non-null    object
 36  Unnamed: 36                                                                                      1614 non-null   object
 37  Unnamed: 37                                                                                      1353 non-null   object
 38  Unnamed: 38                                                                                      741 non-null    object
 39  Unnamed: 39                                                                                      742 non-null    object
 40  Unnamed: 40                                                                                      285 non-null    object
 41  Unnamed: 41                                                                                      21 non-null     object
 42  Unnamed: 42                                                                                      668 non-null    object
 43  What operating system do you use the most?                                                       2591 non-null   object
 44  Please rate your job/career satisfaction                                                         2554 non-null   object
 45  Including bonus, what is your annual compensation in USD?                                        2366 non-null   object
 46  Which technology products do you own? (You can choose more than one)                             840 non-null    object
 47  Unnamed: 47                                                                                      745 non-null    object
 48  Unnamed: 48                                                                                      169 non-null    object
 49  Unnamed: 49                                                                                      367 non-null    object
 50  Unnamed: 50                                                                                      625 non-null    object
 51  Unnamed: 51                                                                                      354 non-null    object
 52  Unnamed: 52                                                                                      40 non-null     object
 53  Unnamed: 53                                                                                      517 non-null    object
 54  Unnamed: 54                                                                                      1091 non-null   object
 55  Unnamed: 55                                                                                      117 non-null    object
 56  Unnamed: 56                                                                                      395 non-null    object
 57  Unnamed: 57                                                                                      502 non-null    object
 58  Unnamed: 58                                                                                      377 non-null    object
 59  Unnamed: 59                                                                                      598 non-null    object
 60  Unnamed: 60                                                                                      825 non-null    object
 61  Unnamed: 61                                                                                      315 non-null    object
 62  Unnamed: 62                                                                                      219 non-null    object
 63  In the last 12 months, how much money have you spent on personal technology-related purchases?   2506 non-null   object
 64  Which of our sites do you frequent most?                                                         2533 non-null   object
dtypes: object(65)
memory usage: 1.4+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6244 entries, 0 to 6243
Data columns (total 75 columns):
 #   Column                                                                                                                    Non-Null Count  Dtype
---  ------                                                                                                                    --------------  -----
 0   What Country or Region do you live in?                                                                                    6244 non-null   object
 1   Which US State or Territory do you live in?                                                                               1776 non-null   object
 2   How old are you?                                                                                                          5965 non-null   object
 3   How many years of IT/Programming experience do you have?                                                                  5965 non-null   object
 4   How would you best describe the industry you currently work in?                                                           5965 non-null   object
 5   Which best describes the size of your company?                                                                            5738 non-null   object
 6   Which of the following best describes your occupation?                                                                    5738 non-null   object
 7   What is your involvement in purchasing products or services for the company you work for? (You can choose more than one)  2555 non-null   object
 8   Unnamed: 8                                                                                                                2773 non-null   object
 9   Unnamed: 9                                                                                                                976 non-null    object
 10  Unnamed: 10                                                                                                               883 non-null    object
 11  Unnamed: 11                                                                                                               403 non-null    object
 12  Unnamed: 12                                                                                                               1999 non-null   object
 13  Unnamed: 13                                                                                                               181 non-null    object
 14  What types of purchases are you involved in?                                                                              1723 non-null   object
 15  Unnamed: 15                                                                                                               1293 non-null   object
 16  Unnamed: 16                                                                                                               3401 non-null   object
 17  Unnamed: 17                                                                                                               1656 non-null   object
 18  Unnamed: 18                                                                                                               868 non-null    object
 19  Unnamed: 19                                                                                                               530 non-null    object
 20  What is your budget for outside expenditures (hardware, software, consulting, etc) for 2011?                              3758 non-null   object
 21  What type of project are you developing?                                                                                  5560 non-null   object
 22  Which languages are you proficient in?                                                                                    2349 non-null   object
 23  Unnamed: 23                                                                                                               3128 non-null   object
 24  Unnamed: 24                                                                                                               2825 non-null   object
 25  Unnamed: 25                                                                                                               1926 non-null   object
 26  Unnamed: 26                                                                                                               1211 non-null   object
 27  Unnamed: 27                                                                                                               606 non-null    object
 28  Unnamed: 28                                                                                                               578 non-null    object
 29  Unnamed: 29                                                                                                               3295 non-null   object
 30  Unnamed: 30                                                                                                               2469 non-null   object
 31  Unnamed: 31                                                                                                               1527 non-null   object
 32  Unnamed: 32                                                                                                               1485 non-null   object
 33  Unnamed: 33                                                                                                               462 non-null    object
 34  Unnamed: 34                                                                                                               2155 non-null   object
 35  Unnamed: 35                                                                                                               6 non-null      object
 36  Unnamed: 36                                                                                                               872 non-null    object
 37  Which desktop operating system do you use the most?                                                                       5548 non-null   object
 38  What best describes your career / job satisfaction?                                                                       5445 non-null   object
 39  Including bonus, what is your annual compensation in USD?                                                                 5238 non-null   object
 40  Have you visited / Are you aware of Stack Overflow Careers?                                                               5444 non-null   object
 41  Do you have a Stack Overflow Careers Profile?                                                                             5444 non-null   object
 42  You answered you don't have a Careers profile, can you elaborate why?                                                     2049 non-null   object
 43  Unnamed: 43                                                                                                               329 non-null    object
 44  Which technology products do you own? (You can choose more than one)                                                      1754 non-null   object
 45  Unnamed: 45                                                                                                               2472 non-null   object
 46  Unnamed: 46                                                                                                               311 non-null    object
 47  Unnamed: 47                                                                                                               407 non-null    object
 48  Unnamed: 48                                                                                                               386 non-null    object
 49  Unnamed: 49                                                                                                               1005 non-null   object
 50  Unnamed: 50                                                                                                               1058 non-null   object
 51  Unnamed: 51                                                                                                               155 non-null    object
 52  Unnamed: 52                                                                                                               313 non-null    object
 53  Unnamed: 53                                                                                                               90 non-null     object
 54  Unnamed: 54                                                                                                               615 non-null    object
 55  Unnamed: 55                                                                                                               1012 non-null   object
 56  Unnamed: 56                                                                                                               855 non-null    object
 57  Unnamed: 57                                                                                                               1213 non-null   object
 58  Unnamed: 58                                                                                                               1426 non-null   object
 59  Unnamed: 59                                                                                                               601 non-null    object
 60  Unnamed: 60                                                                                                               114 non-null    object
 61  Unnamed: 61                                                                                                               1226 non-null   object
 62  Unnamed: 62                                                                                                               424 non-null    object
 63  Unnamed: 63                                                                                                               403 non-null    object
 64  In the last 12 months, how much money have you spent on personal technology-related purchases?                            5298 non-null   object
 65  Please rate the advertising you've seen on Stack Overflow                                                                 5157 non-null   object
 66  Unnamed: 66                                                                                                               5162 non-null   object
 67  Unnamed: 67                                                                                                               5160 non-null   object
 68  Unnamed: 68                                                                                                               5173 non-null   object
 69  Unnamed: 69                                                                                                               5150 non-null   object
 70  Unnamed: 70                                                                                                               5108 non-null   object
 71  What advertisers do you remember seeing on Stack Overflow?                                                                1981 non-null   object
 72  What is your current Stack Overflow reputation?                                                                           5143 non-null   object

## Data Cleaning

Now I should clean the data, knowing that a lot of null values are there and no

In [20]:
# take a look at data from 2013
df_2013.head()

,What Country or Region do you live in?,Which US State or Territory do you live in?,How old are you?,How many years of IT/Programming experience do you have?,How would you best describe the industry you currently work in?,How many people work for your company?,Which of the following best describes your occupation?,"Including yourself, how many developers are employed at your company?",How large is the team that you work on?,What other departments / roles do you interact with regularly?,...,Unnamed: 118,Unnamed: 119,Unnamed: 120,Unnamed: 121,What advertisers do you remember seeing on Stack Overflow?,What is your current Stack Overflow reputation?,How do you use Stack Overflow?,Unnamed: 125,Unnamed: 126,Unnamed: 127
0,Response,Response,Response,Response,Response,Response,Response,Response,Response,System Administrators,...,The ads are Informative,I click on ads that interest me,I've taken a trial/purchased a product from ads,What ads? I use an ad blocker,Open-Ended Response,Response,Read other people's questions to solve my prob...,Ask questions to solve problems,Answer questions I know the answer to,Other (please specify)
1,United Kingdom,NaN,35-39,6/10/2013,Finance / Banking,101-999,Enterprise Level Services,100,4/8/2013,System Administrators,...,Neutral,Neutral,Neutral,Neutral,NaN,Don't have an account,Read other people's questions to solve my prob...,NaN,NaN,NaN
2,United States of America,Oregon,25-29,6/10/2013,Retail,101-999,Back-End Web Developer,6/15/2013,4/8/2013,System Administrators,...,Neutral,Agree,Disagree,Neutral,"StackOverflow themselves, Careers 2.0 (SO also...",1,Read other people's questions to solve my prob...,Ask questions to solve problems,Answer questions I know the answer to,NaN
3,United States of America,Wisconsin,51-60,11,Software Products,26-100,Enterprise Level Services,6/15/2013,Just me!,System Administrators,...,Neutral,Strongly Disagree,Strongly Disagree,Strongly Disagree,don't recall seeing ads on Stack Overflow,Don't have an account,Read other people's questions to solve my prob...,NaN,NaN,NaN
4,Germany,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
# take a look at data from 2014
df_2014.head()

,What Country do you live in?,Unnamed: 1,Which US State or Territory do you live in?,How old are you?,What is your gender?,How many years of IT/Programming experience do you have?,Which of the following best describes your occupation?,"Including bonus, what is your annual compensation in USD?",How would you best describe the industry you currently work in?,How many developers are employed at your company?,...,Did you participate in the Apptivate contest?,What advertisers do you remember seeing on Stack Overflow?,What is your current Stack Overflow reputation?,How do you use Stack Overflow?,Unnamed: 114,Unnamed: 115,Unnamed: 116,Unnamed: 117,Unnamed: 118,How often do you find solutions to your programming problems on Stack Overflow without asking a new question?
0,Response,Other (please specify),Response,Response,Response,Response,Response,Response,Response,Response,...,Response,Open-Ended Response,Response,Read other people's questions to solve my prob...,Ask questions to solve problems,Answer questions I know the answer to,Looking for a job,Build my online reputation,Other (please specify),Response
1,India,NaN,NaN,30-34,Female,6/10/2014,Back-End Web Developer,"$20,000 - $40,000",Finance / Banking,100,...,No,NaN,500,Read other people's questions to solve my prob...,Ask questions to solve problems,NaN,NaN,NaN,NaN,Almost Always
2,Thailand,NaN,NaN,20-24,Male,<2,Back-End Web Developer,Student / Unemployed,Healthcare,NaN,...,NaN,NaN,Don't have an account,Read other people's questions to solve my prob...,NaN,NaN,NaN,NaN,NaN,NaN
3,Iran,NaN,NaN,25-29,Male,6/10/2014,Desktop Software Developer,"<$20,000",Not Currently Employed,1/5/2014,...,No,Tehcodez,1,Read other people's questions to solve my prob...,NaN,NaN,NaN,NaN,NaN,Almost Always
4,Ukraine,NaN,NaN,< 20,Male,<2,Student,Student / Unemployed,Student,NaN,...,NaN,NaN,50,Read other people's questions to solve my prob...,Ask questions to solve problems,NaN,NaN,NaN,NaN,Almost Always

In [22]:
# take a look at data from 2015
df_2015.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Select all that apply,Unnamed: 9,...,Unnamed: 212,Unnamed: 213,Select all that apply.7,Unnamed: 215,Unnamed: 216,Unnamed: 217,Unnamed: 218,Unnamed: 219,Unnamed: 220,Unnamed: 221
0,Country,Age,Gender,Tabs or Spaces,Years IT / Programming Experience,Occupation,Desktop Operating System,Desktop Operating System: write-in,Current Lang & Tech: Android,Current Lang & Tech: Arduino,...,Why use Stack Overflow: I don't use Stack Over...,How often are Stack Overflow's answers helpful,Why answer: Help a programmer in need,Why answer: Help future programmers,Why answer: Demonstrate expertise,Why answer: Self promotion,Why answer: Sense of responsibility to developers,Why answer: No idea,Why answer: I don't answer and I don't want to,Why answer: I don't answer but I want to
1,Croatia,25-29,Male,Tabs,2 - 5 years,Back-end web developer,Ubuntu,NaN,NaN,NaN,...,NaN,Usually,NaN,NaN,It feels good to demonstrate my expertise.,Demonstrating my expertise will benefit me,I feel a sense of responsibility to the develo...,NaN,NaN,NaN
2,France,20-24,Male,Spaces,1 - 2 years,Back-end web developer,Windows 7,NaN,NaN,NaN,...,NaN,Usually,NaN,My answer will help lots of people who have th...,It feels good to demonstrate my expertise.,NaN,NaN,NaN,NaN,NaN
3,India,20-24,Male,Tabs,1 - 2 years,Back-end web developer,Windows 7,NaN,NaN,NaN,...,NaN,Rarely,NaN,NaN,NaN,Demonstrating my expertise will benefit me,NaN,NaN,NaN,NaN
4,Latvia,25-29,Male,It depends,6 - 10 years,Back-end web developer,Ubuntu,NaN,NaN,NaN,...,NaN,Usually,It feels good to help a programmer in need,My answer will help lots of people who have th...,It feels good to demonstrate my expertise.,Demonstrating my expertise will benefit me,I feel a sense of responsibility to the develo...,NaN,NaN,NaN

In [23]:
# take a look at data from 2016
df_2016.head()

,Unnamed: 0,collector,country,un_subregion,so_region,age_range,age_midpoint,gender,self_identification,occupation,...,important_sameend,important_newtech,important_buildnew,important_buildexisting,important_promotion,important_companymission,important_wfh,important_ownoffice,developer_challenges,why_stack_overflow
0,1888,Facebook,Afghanistan,Southern Asia,Central Asia,20-24,22.0,Male,Programmer,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,4637,Facebook,Afghanistan,Southern Asia,Central Asia,30-34,32.0,Male,Developer; Engineer; Programmer,Mobile developer - iOS,...,This is somewhat important,This is very important,This is very important,I don't care about this,This is somewhat important,This is somewhat important,I don't care about this,I don't care about this,Unrealistic expectations; Interacting with non...,To get help for my job; Because I can't do my ...
2,11164,Facebook,Afghanistan,Southern Asia,Central Asia,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,21378,Facebook,Afghanistan,Southern Asia,Central Asia,NaN,NaN,Female,Engineer,DevOps,...,I don't care about this,This is somewhat important,This is very important,This is very important,I don't care about this,I don't care about this,This is very important,This is somewhat important,Corporate policies; Interacting with non-techn...,To get help for my job; Beacause I love to learn
4,30280,Facebook,Afghanistan,Southern Asia,Central Asia,> 60,65.0,Prefer not to disclose,Developer; Engineer; Programmer; Sr. Developer...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
# take a look at data from 2017
df_2017.head()

,Respondent,Professional,ProgramHobby,Country,University,EmploymentStatus,FormalEducation,MajorUndergrad,HomeRemote,CompanySize,...,StackOverflowMakeMoney,Gender,HighestEducationParents,Race,SurveyLong,QuestionsInteresting,QuestionsConfusing,InterestedAnswers,Salary,ExpectedSalary
0,1,Student,"Yes, both",United States,No,"Not employed, and not looking for work",Secondary school,NaN,NaN,NaN,...,Strongly disagree,Male,High school,White or of European descent,Strongly disagree,Strongly agree,Disagree,Strongly agree,NaN,NaN
1,2,Student,"Yes, both",United Kingdom,"Yes, full-time",Employed part-time,Some college/university study without earning ...,Computer science or software engineering,"More than half, but not all, the time",20 to 99 employees,...,Strongly disagree,Male,A master's degree,White or of European descent,Somewhat agree,Somewhat agree,Disagree,Strongly agree,NaN,37500.0
2,3,Professional developer,"Yes, both",United Kingdom,No,Employed full-time,Bachelor's degree,Computer science or software engineering,"Less than half the time, but at least one day ...","10,000 or more employees",...,Disagree,Male,A professional degree,White or of European descent,Somewhat agree,Agree,Disagree,Agree,113750.0,NaN
3,4,Professional non-developer who sometimes write...,"Yes, both",United States,No,Employed full-time,Doctoral degree,A non-computer-focused engineering discipline,"Less than half the time, but at least one day ...","10,000 or more employees",...,Disagree,Male,A doctoral degree,White or of European descent,Agree,Agree,Somewhat agree,Strongly agree,NaN,NaN
4,5,Professional developer,"Yes, I program as a hobby",Switzerland,No,Employed full-time,Master's degree,Computer science or software engineering,Never,10 to 19 employees,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
# take a look at data from 2018
df_2018.head()

,Respondent,Hobby,OpenSource,Country,Student,Employment,FormalEducation,UndergradMajor,CompanySize,DevType,...,Exercise,Gender,SexualOrientation,EducationParents,RaceEthnicity,Age,Dependents,MilitaryUS,SurveyTooLong,SurveyEasy
0,1,Yes,No,Kenya,No,Employed part-time,"Bachelors degree (BA, BS, B.Eng., etc.)",Mathematics or statistics,20 to 99 employees,Full-stack developer,...,3 - 4 times per week,Male,Straight or heterosexual,"Bachelors degree (BA, BS, B.Eng., etc.)",Black or of African descent,25 - 34 years old,Yes,NaN,The survey was an appropriate length,Very easy
1,3,Yes,Yes,United Kingdom,No,Employed full-time,"Bachelors degree (BA, BS, B.Eng., etc.)","A natural science (ex. biology, chemistry, phy...","10,000 or more employees",Database administrator;DevOps specialist;Full-...,...,Daily or almost every day,Male,Straight or heterosexual,"Bachelors degree (BA, BS, B.Eng., etc.)",White or of European descent,35 - 44 years old,Yes,NaN,The survey was an appropriate length,Somewhat easy
2,4,Yes,Yes,United States,No,Employed full-time,Associate degree,"Computer science, computer engineering, or sof...",20 to 99 employees,Engineering manager;Full-stack developer,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,5,No,No,United States,No,Employed full-time,"Bachelors degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",100 to 499 employees,Full-stack developer,...,I don't typically exercise,Male,Straight or heterosexual,Some college/university study without earning ...,White or of European descent,35 - 44 years old,No,No,The survey was an appropriate length,Somewhat easy
4,7,Yes,No,South Africa,"Yes, part-time",Employed full-time,Some college/university study without earning ...,"Computer science, computer engineering, or sof...","10,000 or more employees",Data or business analyst;Desktop or enterprise...,...,3 - 4 times per week,Male,Straight or heterosexual,Some college/university study without earning ...,White or of European descent,18 - 24 years old,Yes,NaN,The survey was an appropriate length,Somewhat easy

In [26]:
# take a look at data from 2019
df_2019.head()

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
0,1,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United Kingdom,No,Primary/elementary school,NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,14.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
1,2,I am a student who is learning to code,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work",Bosnia and Herzegovina,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,19.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
2,3,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Thailand,No,"Bachelors degree (BA, BS, B.Eng., etc.)",Web development or web design,...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,28.0,Man,No,Straight / Heterosexual,NaN,Yes,Appropriate in length,Neither easy nor difficult
3,4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelors degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
4,5,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Ukraine,No,"Bachelors degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,30.0,Man,No,Straight / Heterosexual,White or of European descent;Multiracial,No,Appropriate in length,Easy

In [27]:
# take a look at data from 2020
df_2020.head()

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
0,1,I am a developer by profession,Yes,NaN,13,Monthly,NaN,NaN,Germany,European Euro,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core,ASP.NET;ASP.NET Core,Just as welcome now as I felt last year,50.0,36,27
1,2,I am a developer by profession,No,NaN,19,NaN,NaN,NaN,United Kingdom,Pound sterling,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat more welcome now than last year,NaN,7,4
2,3,I code primarily as a hobby,Yes,NaN,15,NaN,NaN,NaN,Russian Federation,NaN,...,Neither easy nor difficult,Appropriate in length,NaN,NaN,NaN,NaN,Somewhat more welcome now than last year,NaN,4,NaN
3,4,I am a developer by profession,Yes,25.0,18,NaN,NaN,NaN,Albania,Albanian lek,...,NaN,NaN,No,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat less welcome now than last year,40.0,7,4
4,5,"I used to be a developer by profession, but no...",Yes,31.0,16,NaN,NaN,NaN,United States,NaN,...,Easy,Too short,No,"Computer science, computer engineering, or sof...",Django;Ruby on Rails,Ruby on Rails,Just as welcome now as I felt last year,NaN,15,8

In [28]:
# take a look at data from 2021
df_2021.head()

,ResponseId,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,...,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,ConvertedCompYearly
0,1,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Slovakia,NaN,NaN,"Secondary school (e.g. American high school, G...",18 - 24 years,Coding Bootcamp;Other online resources (ex: vi...,NaN,...,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,62268.0
1,2,I am a student who is learning to code,"Student, full-time",Netherlands,NaN,NaN,"Bachelors degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",7,...,18-24 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,NaN
2,3,"I am not primarily a developer, but I write co...","Student, full-time",Russian Federation,NaN,NaN,"Bachelors degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",NaN,...,18-24 years old,Man,No,Prefer not to say,Prefer not to say,None of the above,None of the above,Appropriate in length,Easy,NaN
3,4,I am a developer by profession,Employed full-time,Austria,NaN,NaN,"Masters degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,NaN,NaN,...,35-44 years old,Man,No,Straight / Heterosexual,White or of European descent,I am deaf / hard of hearing,NaN,Appropriate in length,Neither easy nor difficult,NaN
4,5,I am a developer by profession,"Independent contractor, freelancer, or self-em...",United Kingdom of Great Britain and Northern I...,NaN,England,"Masters degree (M.A., M.S., M.Eng., MBA, etc.)",5 - 10 years,Friend or family member,17,...,25-34 years old,Man,No,NaN,White or of European descent,None of the above,NaN,Appropriate in length,Easy,NaN

In [36]:
# take a look at feature counts from 2011
df_2011.describe()

,What Country or Region do you live in?,Which US State or Territory do you live in?,How old are you?,How many years of IT/Programming experience do you have?,How would you best describe the industry you work in?,Which best describes the size of your company?,Which of the following best describes your occupation?,How likely is it that a recommendation you make will be acted upon?,What is your involvement in purchasing? You can choose more than 1.,Unnamed: 9,...,Unnamed: 55,Unnamed: 56,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,"In the last 12 months, how much money have you spent on personal technology-related purchases?",Which of our sites do you frequent most?
count,2814,1030,2730,2730,2730,2647,2647,2611,1362,1497,...,117,395,502,377,598,825,315,219,2506,2533
unique,20,52,9,5,13,7,14,6,1,1,...,1,1,1,1,1,1,1,148,8,8
top,United States of America,California,25-29,11,Software Products,Start Up (1-25),Web Application Developer,It's been known to happen,Influencer,Recommender,...,AppleTV,iPad,Other netbook,PS3,Xbox,Wii,Other gaming system,iPod Touch,"$1,001-$2,000",Stack Overflow
freq,1037,122,831,1044,814,745,1066,1060,1362,1497,...,117,395,502,377,598,825,315,27,569,2230

In [37]:
# take a look at feature counts from 2012
df_2012.describe()

,What Country or Region do you live in?,Which US State or Territory do you live in?,How old are you?,How many years of IT/Programming experience do you have?,How would you best describe the industry you currently work in?,Which best describes the size of your company?,Which of the following best describes your occupation?,What is your involvement in purchasing products or services for the company you work for? (You can choose more than one),Unnamed: 8,Unnamed: 9,...,Please rate the advertising you've seen on Stack Overflow,Unnamed: 66,Unnamed: 67,Unnamed: 68,Unnamed: 69,Unnamed: 70,What advertisers do you remember seeing on Stack Overflow?,What is your current Stack Overflow reputation?,Which of our sites do you frequent most?,Unnamed: 74
count,6244,1776,5965,5965,5965,5738,5738,2555,2773,976,...,5157,5162,5160,5173,5150,5108,1981,5143,5197,253
unique,21,54,9,5,13,7,15,1,1,1,...,6,6,6,6,6,6,1465,12,8,184
top,United States of America,California,25-29,40944,Software Products,Start Up (1-25),Web Application Developer,Influencer,Recommender,Approver,...,Neutral,Neutral,Neutral,Agree,Strongly Disagree,Strongly Disagree,None,1,Stack Overflow,Gaming
freq,1785,256,1914,1934,1883,1762,2427,2555,2773,976,...,2186,2629,2667,2164,2139,2131,93,756,4627,17

In [38]:
# take a look at feature counts from 2013
df_2013.describe()

,What Country or Region do you live in?,Which US State or Territory do you live in?,How old are you?,How many years of IT/Programming experience do you have?,How would you best describe the industry you currently work in?,How many people work for your company?,Which of the following best describes your occupation?,"Including yourself, how many developers are employed at your company?",How large is the team that you work on?,What other departments / roles do you interact with regularly?,...,Unnamed: 118,Unnamed: 119,Unnamed: 120,Unnamed: 121,What advertisers do you remember seeing on Stack Overflow?,What is your current Stack Overflow reputation?,How do you use Stack Overflow?,Unnamed: 125,Unnamed: 126,Unnamed: 127
count,9742,3160,9435,9437,9437,8219,8219,7834,7942,4137,...,7466,7497,7482,7424,2758,7433,7057,4923,5926,602
unique,21,53,9,5,13,7,15,7,6,1,...,6,6,6,6,1726,12,1,1,1,588
top,United States of America,California,25-29,11,Software Products,1/25/2013,Full-Stack Web Developer,1/5/2013,4/8/2013,System Administrators,...,Neutral,Neutral,Strongly Disagree,Strongly Disagree,None,1000,Read other people's questions to solve my prob...,Ask questions to solve problems,Answer questions I know the answer to,Review
freq,3181,471,2594,3047,2930,2706,2387,3021,2672,4137,...,4562,2692,3242,2180,197,969,7057,4923,5926,5

In [39]:
# take a look at feature counts from 2014
df_2014.describe()

,What Country do you live in?,Unnamed: 1,Which US State or Territory do you live in?,How old are you?,What is your gender?,How many years of IT/Programming experience do you have?,Which of the following best describes your occupation?,"Including bonus, what is your annual compensation in USD?",How would you best describe the industry you currently work in?,How many developers are employed at your company?,...,Did you participate in the Apptivate contest?,What advertisers do you remember seeing on Stack Overflow?,What is your current Stack Overflow reputation?,How do you use Stack Overflow?,Unnamed: 114,Unnamed: 115,Unnamed: 116,Unnamed: 117,Unnamed: 118,How often do you find solutions to your programming problems on Stack Overflow without asking a new question?
count,7644,1,2109,7347,7347,7347,7347,6901,7220,6398,...,6195,1632,6284,5950,4074,4927,587,2610,266,6259
unique,97,1,52,9,4,5,16,11,16,7,...,4,1097,12,1,1,1,1,1,262,6
top,United States,Other (please specify),California,25-29,Male,2/5/2014,Full-Stack Web Developer,Student / Unemployed,Software Products,1/5/2014,...,No,None,1,Read other people's questions to solve my prob...,Ask questions to solve problems,Answer questions I know the answer to,Looking for a job,Build my online reputation,Learning,Almost Always
freq,2128,1,286,2034,6864,2405,1966,1147,2021,2131,...,5791,107,843,5950,4074,4927,587,2610,3,3718

In [40]:
# take a look at feature counts from 2015
df_2015.describe()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Select all that apply,Unnamed: 9,...,Unnamed: 212,Unnamed: 213,Select all that apply.7,Unnamed: 215,Unnamed: 216,Unnamed: 217,Unnamed: 218,Unnamed: 219,Unnamed: 220,Unnamed: 221
count,25280,25832,25745,25808,24828,20852,21981,791,4111,1627,...,206,16394,10231,8664,4827,3319,5176,1023,703,5701
unique,157,10,5,5,6,25,11,325,2,2,...,2,6,2,2,2,2,2,2,2,2
top,United States,25-29,Male,Tabs,2 - 5 years,Full-stack web developer,Windows 7,Arch Linux,Android,Arduino / Raspberry Pi,...,I don't really use Stack Overflow. I just take...,Usually,It feels good to help a programmer in need,My answer will help lots of people who have th...,It feels good to demonstrate my expertise.,Demonstrating my expertise will benefit me,I feel a sense of responsibility to the develo...,I have no idea why I answer but I do it anyway,"I don't answer much (or at all), and I don't w...","I don't answer much (or at all), but I want to..."
freq,4745,7365,23699,11604,8037,6765,7700,101,4110,1626,...,205,12453,10230,8663,4826,3318,5175,1022,702,5700

In [41]:
# take a look at feature counts from 2016
df_2016.describe()

,Unnamed: 0,age_midpoint,experience_midpoint,salary_midpoint,big_mac_index,programming_ability
count,56030.000000,55336.000000,49520.000000,41742.000000,48825.000000,46982.000000
mean,28014.500000,29.621286,6.640145,53952.973025,3.907442,7.094547
std,16174.612128,9.108102,4.446157,46518.823875,1.120232,1.766312
min,0.000000,16.000000,0.500000,5000.000000,1.530000,1.000000
25%,14007.250000,22.000000,3.500000,15000.000000,3.410000,6.000000
50%,28014.500000,27.000000,3.500000,45000.000000,4.220000,7.000000
75%,42021.750000,32.000000,13.000000,75000.000000,4.930000,8.000000
max,56029.000000,65.000000,13.000000,210000.000000,6.440000,10.000000

In [42]:
# take a look at feature counts from 2017
df_2017.describe()

,Respondent,CareerSatisfaction,JobSatisfaction,HoursPerWeek,StackOverflowSatisfaction,Salary,ExpectedSalary
count,51392.000000,42695.000000,40376.000000,20600.000000,36592.000000,12891.000000,2566.000000
mean,25696.500000,7.300574,6.957078,3.952282,8.429875,56298.480641,33142.220468
std,14835.736854,1.955444,2.167652,7.564722,1.390635,39880.905277,30162.988829
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,12848.750000,6.000000,6.000000,1.000000,8.000000,26440.371839,4490.492484
50%,25696.500000,8.000000,7.000000,1.000000,9.000000,50000.000000,29364.263691
75%,38544.250000,9.000000,8.000000,4.000000,10.000000,80000.000000,50403.225806
max,51392.000000,10.000000,10.000000,40.000000,10.000000,197000.000000,187500.000000

In [43]:
# take a look at feature counts from 2018
df_2018.describe()

,Respondent,AssessJob1,AssessJob2,AssessJob3,AssessJob4,AssessJob5,AssessJob6,AssessJob7,AssessJob8,AssessJob9,...,JobEmailPriorities6,JobEmailPriorities7,ConvertedSalary,AdsPriorities1,AdsPriorities2,AdsPriorities3,AdsPriorities4,AdsPriorities5,AdsPriorities6,AdsPriorities7
count,98855.000000,66985.000000,66985.000000,66985.000000,66985.000000,66985.000000,66985.000000,66985.000000,66985.000000,66985.000000,...,46213.00000,46213.000000,4.770200e+04,60479.000000,60479.000000,60479.000000,60479.000000,60479.000000,60479.000000,60479.000000
mean,50822.971635,6.397089,6.673524,5.906875,4.065791,3.953243,4.407196,5.673181,4.225200,7.640009,...,4.97425,4.836388,9.578086e+04,2.726880,3.805784,3.340945,3.782470,4.383604,5.138809,4.821459
std,29321.650410,2.788428,2.531202,2.642734,2.541196,2.520499,2.502069,2.923998,2.507411,2.407457,...,1.86063,1.659844,2.023482e+05,1.881078,1.821323,1.673485,1.844864,1.931746,1.853249,1.874895
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.00000,1.000000,0.000000e+00,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,25443.500000,4.000000,5.000000,4.000000,2.000000,2.000000,2.000000,3.000000,2.000000,6.000000,...,4.00000,4.000000,2.384400e+04,1.000000,2.000000,2.000000,2.000000,3.000000,4.000000,3.000000
50%,50823.000000,7.000000,7.000000,6.000000,4.000000,3.000000,4.000000,6.000000,4.000000,8.000000,...,5.00000,5.000000,5.507500e+04,2.000000,4.000000,3.000000,4.000000,5.000000,6.000000,5.000000
75%,76219.500000,9.000000,9.000000,8.000000,6.000000,6.000000,6.000000,8.000000,6.000000,10.000000,...,7.00000,6.000000,9.300000e+04,4.000000,5.000000,5.000000,5.000000,6.000000,7.000000,7.000000
max,101592.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,...,7.00000,7.000000,2.000000e+06,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000

In [44]:
# take a look at feature counts from 2019
df_2019.describe()

,Respondent,CompTotal,ConvertedComp,WorkWeekHrs,CodeRevHrs,Age
count,88883.000000,5.594500e+04,5.582300e+04,64503.000000,49790.000000,79210.000000
mean,44442.000000,5.519014e+11,1.271107e+05,42.127197,5.084308,30.336699
std,25658.456325,7.331926e+13,2.841523e+05,37.287610,5.513931,9.178390
min,1.000000,0.000000e+00,0.000000e+00,1.000000,0.000000,1.000000
25%,22221.500000,2.000000e+04,2.577750e+04,40.000000,2.000000,24.000000
50%,44442.000000,6.200000e+04,5.728700e+04,40.000000,4.000000,29.000000
75%,66662.500000,1.200000e+05,1.000000e+05,44.750000,6.000000,35.000000
max,88883.000000,1.000000e+16,2.000000e+06,4850.000000,99.000000,99.000000

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2814 entries, 0 to 2813
Data columns (total 65 columns):
 #   Column                                                                                           Non-Null Count  Dtype
---  ------                                                                                           --------------  -----
 0   What Country or Region do you live in?                                                           2814 non-null   object
 1   Which US State or Territory do you live in?                                                      1030 non-null   object
 2   How old are you?                                                                                 2730 non-null   object
 3   How many years of IT/Programming experience do you have?                                         2730 non-null   object
 4   How would you best describe the industry you work in?                                            2730 non-null   object
 5   Which best describes the size of your company?                                                   2647 non-null   object
 6   Which of the following best describes your occupation?                                           2647 non-null   object
 7   How likely is it that a recommendation you make will be acted upon?                              2611 non-null   object
 8   What is your involvement in purchasing? You can choose more than 1.                              1362 non-null   object
 9   Unnamed: 9                                                                                       1497 non-null   object
 10  Unnamed: 10                                                                                      395 non-null    object
 11  Unnamed: 11                                                                                      457 non-null    object
 12  Unnamed: 12                                                                                      186 non-null    object
 13  Unnamed: 13                                                                                      727 non-null    object
 14  Unnamed: 14                                                                                      92 non-null     object
 15  What types of purchases are you involved in?                                                     968 non-null    object
 16  Unnamed: 16                                                                                      709 non-null    object
 17  Unnamed: 17                                                                                      1790 non-null   object
 18  Unnamed: 18                                                                                      970 non-null    object
 19  Unnamed: 19                                                                                      467 non-null    object
 20  Unnamed: 20                                                                                      285 non-null    object
 21  What is your budget for outside expenditures (hardware, software, consulting, etc) for 2011?     533 non-null    object
 22  Unnamed: 22                                                                                      219 non-null    object
 23  Unnamed: 23                                                                                      85 non-null     object
 24  Unnamed: 24                                                                                      45 non-null     object
 25  Unnamed: 25                                                                                      43 non-null     object
 26  Unnamed: 26                                                                                      45 non-null     object
 27  Unnamed: 27                                                                                      121 non-null    object
 28  Unnamed: 28                                                                                      927 non-null    object
 29  What type of project are you developing?                                                         2599 non-null   object
 30  Which languages are you proficient in?                                                           862 non-null    object
 31  Unnamed: 31                                                                                      1420 non-null   object
 32  Unnamed: 32                                                                                      1357 non-null   object
 33  Unnamed: 33                                                                                      789 non-null    object
 34  Unnamed: 34                                                                                      576 non-null    object
 35  Unnamed: 35                                                                                      286 non-null    object
 36  Unnamed: 36                                                                                      1614 non-null   object
 37  Unnamed: 37                                                                                      1353 non-null   object
 38  Unnamed: 38                                                                                      741 non-null    object
 39  Unnamed: 39                                                                                      742 non-null    object
 40  Unnamed: 40                                                                                      285 non-null    object
 41  Unnamed: 41                                                                                      21 non-null     object
 42  Unnamed: 42                                                                                      668 non-null    object
 43  What operating system do you use the most?                                                       2591 non-null   object
 44  Please rate your job/career satisfaction                                                         2554 non-null   object
 45  Including bonus, what is your annual compensation in USD?                                        2366 non-null   object
 46  Which technology products do you own? (You can choose more than one)                             840 non-null    object
 47  Unnamed: 47                                                                                      745 non-null    object
 48  Unnamed: 48                                                                                      169 non-null    object
 49  Unnamed: 49                                                                                      367 non-null    object
 50  Unnamed: 50                                                                                      625 non-null    object
 51  Unnamed: 51                                                                                      354 non-null    object
 52  Unnamed: 52                                                                                      40 non-null     object
 53  Unnamed: 53                                                                                      517 non-null    object
 54  Unnamed: 54                                                                                      1091 non-null   object
 55  Unnamed: 55                                                                                      117 non-null    object
 56  Unnamed: 56                                                                                      395 non-null    object
 57  Unnamed: 57                                                                                      502 non-null    object
 58  Unnamed: 58                                                                                      377 non-null    object
 59  Unnamed: 59                                                                                      598 non-null    object
 60  Unnamed: 60                                                                                      825 non-null    object
 61  Unnamed: 61                                                                                      315 non-null    object
 62  Unnamed: 62                                                                                      219 non-null    object
 63  In the last 12 months, how much money have you spent on personal technology-related purchases?   2506 non-null   object
 64  Which of our sites do you frequent most?                                                         2533 non-null   object
dtypes: object(65)
memory usage: 1.4+ MB

In [45]:
# take a look at feature counts from 2020
df_2020.describe()

         Respondent           Age      CompTotal  ConvertedComp   WorkWeekHrs
count  64461.000000  45446.000000   3.482600e+04   3.475600e+04  41151.000000
mean   32554.079738     30.834111  3.190464e+242   1.037561e+05     40.782174
std    18967.442360      9.585392            inf   2.268853e+05     17.816383
min        1.000000      1.000000   0.000000e+00   0.000000e+00      1.000000
25%    16116.000000     24.000000   2.000000e+04   2.464800e+04     40.000000
50%    32231.000000     29.000000   6.300000e+04   5.404900e+04     40.000000
75%    49142.000000     35.000000   1.250000e+05   9.500000e+04     44.000000
max    65639.000000    279.000000  1.111111e+247   2.000000e+06    475.000000

In [46]:
# take a look at feature counts from 2021
df_2021.describe()

# take a look at
df_2011.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2814 entries, 0 to 2813
Data columns (total 65 columns):
 #   Column                                                                                           Non-Null Count  Dtype
---  ------                                                                                           --------------  -----
 0   What Country or Region do you live in?                                                           2814 non-null   object
 1   Which US State or Territory do you live in?                                                      1030 non-null   object
 2   How old are you?                                                                                 2730 non-null   object
 3   How many years of IT/Programming experience do you have?                                         2730 non-null   object
 4   How would you best describe the industry you work in?                                            2730 non-null   object
 5   Which best describes the size of your company?                                                   2647 non-null   object
 6   Which of the following best describes your occupation?                                           2647 non-null   object
 7   How likely is it that a recommendation you make will be acted upon?                              2611 non-null   object
 8   What is your involvement in purchasing? You can choose more than 1.                              1362 non-null   object
 9   Unnamed: 9                                                                                       1497 non-null   object
 10  Unnamed: 10                                                                                      395 non-null    object
 11  Unnamed: 11                                                                                      457 non-null    object
 12  Unnamed: 12                                                                                      186 non-null    object
 13  Unnamed: 13                                                                                      727 non-null    object
 14  Unnamed: 14                                                                                      92 non-null     object
 15  What types of purchases are you involved in?                                                     968 non-null    object
 16  Unnamed: 16                                                                                      709 non-null    object
 17  Unnamed: 17                                                                                      1790 non-null   object
 18  Unnamed: 18                                                                                      970 non-null    object
 19  Unnamed: 19                                                                                      467 non-null    object
 20  Unnamed: 20                                                                                      285 non-null    object
 21  What is your budget for outside expenditures (hardware, software, consulting, etc) for 2011?     533 non-null    object
 22  Unnamed: 22                                                                                      219 non-null    object
 23  Unnamed: 23                                                                                      85 non-null     object
 24  Unnamed: 24                                                                                      45 non-null     object
 25  Unnamed: 25                                                                                      43 non-null     object
 26  Unnamed: 26                                                                                      45 non-null     object
 27  Unnamed: 27                                                                                      121 non-null    object
 28  Unnamed: 28                                                                                      927 non-null    object
 29  What type of project are you developing?                                                         2599 non-null   object
 30  Which languages are you proficient in?                                                           862 non-null    object
 31  Unnamed: 31                                                                                      1420 non-null   object
 32  Unnamed: 32                                                                                      1357 non-null   object
 33  Unnamed: 33                                                                                      789 non-null    object
 34  Unnamed: 34                                                                                      576 non-null    object
 35  Unnamed: 35                                                                                      286 non-null    object
 36  Unnamed: 36                                                                                      1614 non-null   object
 37  Unnamed: 37                                                                                      1353 non-null   object
 38  Unnamed: 38                                                                                      741 non-null    object
 39  Unnamed: 39                                                                                      742 non-null    object
 40  Unnamed: 40                                                                                      285 non-null    object
 41  Unnamed: 41                                                                                      21 non-null     object
 42  Unnamed: 42                                                                                      668 non-null    object
 43  What operating system do you use the most?                                                       2591 non-null   object
 44  Please rate your job/career satisfaction                                                         2554 non-null   object
 45  Including bonus, what is your annual compensation in USD?                                        2366 non-null   object
 46  Which technology products do you own? (You can choose more than one)                             840 non-null    object
 47  Unnamed: 47                                                                                      745 non-null    object
 48  Unnamed: 48                                                                                      169 non-null    object
 49  Unnamed: 49                                                                                      367 non-null    object
 50  Unnamed: 50                                                                                      625 non-null    object
 51  Unnamed: 51                                                                                      354 non-null    object
 52  Unnamed: 52                                                                                      40 non-null     object
 53  Unnamed: 53                                                                                      517 non-null    object
 54  Unnamed: 54                                                                                      1091 non-null   object
 55  Unnamed: 55                                                                                      117 non-null    object
 56  Unnamed: 56                                                                                      395 non-null    object
 57  Unnamed: 57                                                                                      502 non-null    object
 58  Unnamed: 58                                                                                      377 non-null    object
 59  Unnamed: 59                                                                                      598 non-null    object
 60  Unnamed: 60                                                                                      825 non-null    object
 61  Unnamed: 61                                                                                      315 non-null    object
 62  Unnamed: 62                                                                                      219 non-null    object
 63  In the last 12 months, how much money have you spent on personal technology-related purchases?   2506 non-null   object
 64  Which of our sites do you frequent most?                                                         2533 non-null   object
dtypes: object(65)
memory usage: 1.4+ MB

# TBD
1. Delete index related data from dataframes (i.e. Unnamed? Look at schemas).
2. Just make a matching between common features throughout surveys years and build a unique datafame, or alternatively,
just make same question for each year.